.feature-image{
background-image: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
}


.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.ingredients {
    margin-left: 20px;
}

.whitebackground {
    background-color: white;
}

.collapsible-body {
    background-color: white;

}

h3 {
    color: white;
}

.activator {
    height: 200px;
}

.card .card-content .card-title {
    display: inline;
}


a.nav-color {
    color: white;
}

.activator.responsive-image {
    max-width: 100%;
    height: auto;
}

.brand-font {
    font-family: 'Chakra Petch', sans-serif;
}

.summaries {
    max-width: 100%;
    max-height: 50%;
    height: auto;
}

.summaries-count {
    min-height: 150px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
      
      
.blacktext {
    color: gray;
}

.dropdown-button{
    color: white;
}


.dropdown-size {
    width: 120px;
}

.sort-padding{
    padding-top: 12px;
}