{% extends 'base.html' %} {% block content %}
<h3 class="brand-font">Quick and Easy: 5 Ingredient Recipies</h3>


<div class="row">

  <!-- Breakfast -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="Breakfast" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Breakfast<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('breakfast_meals')}}">All Breakfasts</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Breakfast<i class="material-icons right">close</i></span>
        <p>Some say Breakfast is the most important meal of the day and others say eat breakfast foods at all hours of the day! It's up to you when exactly you want to enjoy these scumcious recipes.</p>
        <p><a href="{{ url_for('breakfast_meals')}}">All Breakfasts</a></p>
      </div>
    </div>
  </div>

  <!-- Lunch -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="Lunch" src="https://images.unsplash.com/photo-1543352634-99a5d50ae78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Lunch<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('lunch_meals')}}">All Lunches</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Lunch<i class="material-icons right">close</i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada viverra rhoncus. Sed fermentum tincidunt elit, vel dictum arcu ultricies nec. Etiam maximus cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Nullam eleifend ipsum dui, at ornare quam consectetur molestie. Praesent turpis quam, tristique sed accumsan sed, placerat in turpis.</p>
        <p><a href="{{ url_for('lunch_meals')}}">All Lunches</a></p>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <!-- Dinner -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="Dinner" src="https://images.unsplash.com/photo-1512058564366-18510be2db19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Dinner<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('breakfast_meals')}}">All Dinners</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Dinner<i class="material-icons right">close</i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada viverra rhoncus. Sed fermentum tincidunt elit, vel dictum arcu ultricies nec. Etiam maximus cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Nullam eleifend ipsum dui, at ornare quam consectetur molestie. Praesent turpis quam, tristique sed accumsan sed, placerat in turpis.</p>
        <p><a href="{{ url_for('dinner_meals')}}">All Dinners</a></p>
      </div>
    </div>
  </div>

  <!-- Desert -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="Desert" src="https://images.unsplash.com/photo-1519340333755-56e9c1d04579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Desert<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('dessert_meals')}}">All Deserts</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Desert<i class="material-icons right">close</i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada viverra rhoncus. Sed fermentum tincidunt elit, vel dictum arcu ultricies nec. Etiam maximus cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Nullam eleifend ipsum dui, at ornare quam consectetur molestie. Praesent turpis quam, tristique sed accumsan sed, placerat in turpis.</p>
        <p><a href="{{ url_for('dessert_meals')}}">All Deserts</a></p>
      </div>
    </div>
  </div>

  <!-- American -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="American" src="https://images.unsplash.com/photo-1556710807-aa697ab9e415?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">American<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('american_meals')}}">All American Recipes</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">American<i class="material-icons right">close</i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada viverra rhoncus. Sed fermentum tincidunt elit, vel dictum arcu ultricies nec. Etiam maximus cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Nullam eleifend ipsum dui, at ornare quam consectetur molestie. Praesent turpis quam, tristique sed accumsan sed, placerat in turpis.</p>
        <p><a href="{{ url_for('american_meals')}}">All American Recipes</a></p>
      </div>
    </div>
  </div>



  <!-- Asian Street Food -->
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-image" alt="Asian" src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Asian Street Food<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ url_for('asian_meals')}}">All Asian Street Food</a></p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Asian Street Food<i class="material-icons right">close</i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada viverra rhoncus. Sed fermentum tincidunt elit, vel dictum arcu ultricies nec. Etiam maximus cursus consequat. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Nullam eleifend ipsum dui, at ornare quam consectetur molestie. Praesent turpis quam, tristique sed accumsan sed, placerat in turpis.</p>
        <p><a href="{{ url_for('asian_meals')}}">All Asian Street Food</a></p>
      </div>
    </div>
  </div>
</div>







<div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
       
        <div class="card-image">
          <img class="summaries" alt"food" src="https://images.unsplash.com/photo-1533622597524-a1215e26c0a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
          <span class="card-title">Summaries</span>
        </div>
        
        <div class="card-content center-align summaries-count ">
              <div class="col s6 m6 l6">
          <p>American: {{ count_american }}</p>
          <p>Asian: {{ count_asian }}</p>
          <p>Keto: {{ count_keto }}</p>
          <p>Vegan: {{ count_vegan }}</p>
          <p>Mediterranean: {{ count_mediterranean }}</p>
          <p>Italian: {{ count_italian }}</p>



           </div>
               <div class="col s6 m16 l6">
           <p>Recipes: {{ count_recipies }}</p>
            <p>Breakfasts: {{ count_breakfasts }}</p>
            <p>Lunches: {{ count_lunches }}</p>
            <p>Dinners: {{ count_dinners }}</p>
            <p>Desserts: {{ count_deserts }}</p>
            </div>
            </div>
            
        <div class="card-action">
          <a href="{{ url_for('get_recipes')}}">See All Recipes</a>
        </div>
      </div>
    </div>
  </div>





{% endblock %}