{% extends 'base.html'%} {% block content %}


<div class="row sort-padding">

    <div class="col offset-s9 s3 sort-menu deep-orange darken-4">
        <ul id="dropdown1" class="dropdown-content dropdown-size">
            <li><a href="{{ url_for('american_meals')}}">American</a></li>
            <li><a href="{{ url_for('asian_meals')}}">Asian</a></li>
            <li><a href="{{ url_for('keto_meals')}}">Keto</a></li>
            <li><a href="{{ url_for('italian_meals')}}">Italian</a></li>
            <li><a href="{{ url_for('vegan_meals')}}">Vegan</a></li>
            <li><a href="{{ url_for('indian_meals')}}">Indian</a></li>
            <li><a href="{{ url_for('mediterranean_meals')}}">Mediterranean</a></li>

        </ul>
            <div class="nav-wrapper">
                <ul class="right">
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sort By Cuisine<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
    </div>
</div>

<!-- Recipes -->

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}

        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small orange darken-4">Edit</a>
                </div>

                <!--  Recipie name  -->


                <div class="recipe_header col s9">
                    <strong>{{recipe.name}}</strong>
                </div>


            </div>
            <div class="collapsible-body">
                <span>
              
             <!--  Expanded Recipe   -->
             
                <ul class="collection">
                    
                   
                    <div class="col s12 m12">
                        <li class="collection-item">{{recipe.description}} </li>
                        <li class="collection-item"><strong>Cuisine:</strong> {{recipe.cuisine}} </li>
                        <li class="collection-item"><strong>Prep Time:</strong> {{recipe.preptime}} </li>
                        <li class="collection-item"><strong>Cooking Time:</strong> {{recipe.cooktime}} </li>
                        <li class="collection-item"><strong>Serves:</strong> {{recipe.serves}} </li>
                        <li class="collection-item"><strong>Meal:</strong> {{recipe.meal}} </li>

                           
                      </div>
                      
                    <h5 class="ingredients col s12 m12">Ingredients</h5>
                    <div class="col s12 m12">
                      <li class="collection-item">{{recipe.ingredient_1}}</li>
                      <li class="collection-item">{{recipe.ingredient_2}}</li>
                      <li class="collection-item">{{recipe.ingredient_3}} </li>
                      <li class="collection-item">{{recipe.ingredient_4}} </li>
                      <li class="collection-item">{{recipe.ingredient_5}} </li>
                      </div>
                      
                      <h5 class="ingredients col s12 m12">Method</h5>
                    <div class="col s12 m12">
                      <li class="collection-item">{{recipe.method_1}}</li>
                      <li class="collection-item">{{recipe.method_2}}</li>
                      <li class="collection-item">{{recipe.method_3}} </li>
                      </div>
                    
                     <div class="col s12 m12">
                        
                        <li class="collection-item"><strong>Author:</strong> {{recipe.author}} </li>
                      </div>
                        </ul>
                      
            
            </span>
            </div>




            {% endfor %}
    </ul>
</div>
{% endblock %}